@charset "UTF-8";

/*img {
  vertical-align: middle;
}*/

.container:after,.container:befor,.navber:after,.navber:befor.row:after.row:befor, {
  display: table;
  content: "";
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

body {
  background-color: #f2f2f2;
  font-weight: 300;
  font-family: "Lato";
  font-size: 16px;
  color: #333;
  -webkit-font-smoothing:antialiased;
}

/* header */

.navber-fixed-top {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1000;
}

.navber {
  font-weight: 800;
  font-size: 12px;
  background-color: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
}

.inner {
  margin-left: 50px;
}

.navber-brand {
  font-size: 60px;
  float: left;
  width: 80%;
}


.fa-bolt {
  color: #777;
}

.navber-right {
  float: left;
  width: 20%;

}

.navber-btn {
  display: inline-block;
  font-size: 14px;
  color: #fff;
  background-color: #74cfae;
  padding: 14px 12px;
  margin: 10px;
}

/* header */

/* title */

.centered {
  text-align: center;
}

.title {
  width: 100%;
  padding-top: 250px;
  padding-bottom: 250px;
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Raleway";
}

h1 {
  font-weight: 700;
  font-size: 90px;
  color: #74cfae;
}

h2 {
  font-weight: 400;
  font-size: 30px;
  color: #c0c0c0;
  margin-top: 20px;
}

/* title */

/* what we can do */

.about {
  background-color: #74cfae;
  padding-top: 50px;
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
}

.about-image {
  float: left;
  width: 40%;
  text-align: center;
}
.about-desc {
  float: left;
  width: 60%;
  text-align: center;
  color: #fff;
  font-weight: 300;
}

.about-title {
  font-size: 24px;
  margin-bottom: 35px;
}

.about-text {
  font-size: 20px;
  font-family: "Lato";
}

/* what we can do */

/* works*/

.works {
  margin-top: 60px;
  margin-bottom: 70px;
}

h4 {
  font-size: 24px;
  margin-bottom: 40px;
  text-align: center;
}

.grid {
  display: flex;
}

.works-img {
  margin-left: 100px;
}

.works-img:nth-child(-n+3) {
  margin-bottom: 80px;
}

.works-img a {
  opacity: 0.7;
  transition: .3s;
}

.works-img a:hover {
  opacity: 1;
}

.works-footer {
  margin-top: 90px;
}

.works-text {
  text-align: center;
  float: left;
  width: 70%;
}

.email {
  float:left;
  margin-left: 80px;
}

.email-btn {
  display: inline-block;
  font-size:12px;
  padding: 14px 20px;
  background-color: #74cfae;
  color: #fff;
  transition: .3s;
  }

.email-btn:hover {
  color: #333;
  }



/* works*/

/* skills*/

.skills {
  background-color: #4e4e4e;
  padding-top: 70px;
  padding-bottom: 100px;
  text-align: center;

}

table {
  table-layout: fixed;
  width: 100%;
}

h6 {
  font-size: 24px;
  color: #fff;
  padding-bottom: 20px;
}

.skills-img th {
  padding-right: 90px;
  padding-left: 90px;
}

.skills-img td {
  font-size: 16px;
  color: #fff;
}

/*skills*/

/*sns*/
.content {
  padding: 200px;
  font-size: 60px;
  display: flex;
}

.icon {
  padding: 30px;
  transition: .3s;
}

.icon:hover {
  background-color: #fff;
}

.content i {
  color: #74cfae;
  float: left;
  width: 185px;
  text-align: center;
}
/*sns*/

/*end*/
.end {
  padding-top: 20px;
  padding-bottom: 25px;
  background-color: #74cfae;
}

.end-text {
  color: #fff;
  float:right;
}